# Ignorar caches do Python
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignorar arquivos compilados do Python
*.pyo
*.pyd
*.pdb
*.pyc

# Ignorar arquivos de ambiente virtual
.env
.venv/
env/
venv/

# Ignorar arquivos de configuração locais
*.log
*.sqlite3
*.db

# Ignorar checkpoints e dados temporários
checkpoints/
data/processed/
data/raw/


lightning_logs/
mlruns/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de IDE
.vscode/
.idea/

supervisord.log
supervisord.pid

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]