services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "8265:8265"
      - "10001:10001"
      - "5000:5000"
      - "8080:8080"
    environment:
      - RAY_PROMETHEUS_HOST=http://localhost:9090
      - RAY_GRAFANA_HOST=http://localhost:3000
      - RAY_METRICS_SERVER_PORT=8080
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - ./grafana_datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana_dashboards_prov.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards/ray
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
    depends_on:
      - prometheus
